<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="charset" content="utf-8">
	<script src="svg-pan-zoom.min_3.6.0.js" defer></script>
	<script src="chroma.min.js" defer></script>
	<script src="platform.js" defer></script>
	<script src="abbreviations.js" defer></script>
	<script src="colors.js"></script>
	<script src="group.js" defer></script>
	<script src="main.js" defer></script>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<svg id="visualization" v-hidden width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink">
	</svg>
	<script id="inhibitor-template" type="text/template">
		<defs>
			<clipPath id="figure-crop" clipPathUnits="objectBoundingBox">
				<circle cx="0.5" cy="0.5" r="0.5"></circle>
			</clipPath>
		</defs>
		<g transform="translate({{xOffset}} {{yOffset}})">
			<foreignObject id="figure" width="{{width}}" height="{{height}}" clip-path="url(#figure-crop)">
				<img id="inhibitor-image" src="{{src}}">
			</foreignObject>
		</g>
	</script>
	<div id="controls">
		<img src="assets/center.svg" alt="center icon" title="center" onclick="panZoom.center()">
		<img src="assets/reset_zoom.svg" alt="reset zoom icon" title="initial zoom" onclick="panZoom.resetZoom()">
	</div>
	<script id="info-box-template" type="text/template">
		Name: {{acid}}
		Energy: {{energy}} kcal/mol
		Selection: {{selection}}
		Distance: {{distance}} Å
	</script>
	<div id="info-box" class="d-none">
		<span>X</span>
		<span></span>
	</div>
	<div id="color-map"></div>
	<div id="settings-box">
		<span id="hide" onclick="event.stopPropagation(); settingsBox.hide()">I</span>
		<input id="negative-positive" type="checkbox" checked onchange="settingsBox.handleSplitChange()">
		<label for="negative-positive">Split <span id="positive-span">positive</span> and <span
				id="negative-span">negative</span></label>
		<div id="range-1" class="range">
			<input type="number" min="1">
			<input id="positive-range" type="range" min="1" step="1">
		</div>
		<div id="range-2" class="range">
			<input type="number" min="1">
			<input id="negative-range" type="range" min="1" step="1">
		</div>
	</div>
</body>

</html>
