html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

[v-hidden] {
	visibility: hidden;
}

#controls {
	position: fixed;
	top: 0.5vh;
	right: 0.5vw;
	--height: 2rem;
	height: var(--height);
	--margin: 0.5rem;
	width: calc(var(--height) * 2 + var(--margin));
	white-space: nowrap;
	border-radius: 6%;
	padding: 1em;
	background-color: rgba(255, 217, 0, 0.7);
}

#controls img {
	max-height: var(--height);
	max-width: var(--height);
}

#controls img:not(:first-child) {
	margin-left: var(--margin);
}

#info-box {
	position: fixed;
	top: 0.5vh;
	left: 0.5vw;
	background-color: rgba(173, 216, 230);
	border-radius: 6%;
	padding: 1em;
}

#info-box span:first-child {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	font-family: sans-serif;
	cursor: pointer;
}

#settings-box #hide {
	position: absolute;
	right: 0.7em;
	top: 0;
	font-family: sans-serif;
	cursor: pointer;
	transform: rotate(90deg);
	font-weight: bold;
	padding: 0.3em;
}

#positive-span {
	text-decoration: 0.15em;
	text-decoration-color: green;
	text-decoration-line: underline;
}

#negative-span {
	text-decoration: 0.15em;
	text-decoration-color: red;
	text-decoration-line: underline;
}

#info-box span:last-child {
	white-space: pre-line;
	font-size: 1.1em;
}

.d-none {
	display: none;
}

.highlighted {
	fill: black;
}

.highlighted + text {
	fill: white;
}

#settings-box {
	position: fixed;
	right: 0.5vw;
	bottom: 0.5vh;
	background-color: rgb(211, 211, 211);
	border-radius: 6%;
	padding: 1.5em 1em 1em;
}

.range {
	display: flex;
	margin-top: 0.5em;
}

.range input[type=number] {
	width: 4em;
}

.range input[type=range] {
	flex: 1;
}

#positive-range, #negative-range {
	background-color: rgb(211, 211, 211);
}

#positive-range::-moz-range-track {
	background-color: green;
}

#positive-range::-webkit-slider-runnable-track {
	background-color: green;
}

#negative-range::-moz-range-track {
	background-color: red;
}

#negative-range::-webkit-slider-runnable-track {
	background-color: red;
}

.range input[type=range]::-webkit-slider-runnable-track {
	height: 20%;
}

.range input[type=range]::-webkit-slider-thumb {
	margin-top: -0.55em;
}

.d-flex {
	display: flex;
}

.d-none {
	display: none;
}

.hide-settings {
	cursor: pointer;
}

.hide-settings * {
	display: none
}

.hide-settings::after {
	content: "+";
	display: block;
	transform: translate(0, -25%);
	font-weight: bold;
}

#inhibitor-image {
	max-width: 100%;
	max-height: 100%;
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
}

#color-map {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0.5vw;
	bottom: 0.5vh;
	padding: 1em 1em;
	max-height: calc(99vh - 2em);
	overflow-x: hidden;
	overflow-y: auto;
	font-family: monospace;
}

#color-map div {
	display: flex;
	flex-shrink: 0;
}

#color-map div div {
	height: 2rem;
	width: 3.25em;
	border: 2px solid black;
	border-bottom: none;
}

#color-map div:last-of-type div {
	border-bottom: 2px solid black;
}
